[Unit]
Description=Python album art display for sonos with rgb-matrix

[Service]
Environment="PYTHONUNBUFFERED=TRUE"
WorkingDirectory=/opt/python-album-art
ExecStart=/opt/python-album-art/album-art.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
